# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\django_online_9pm\IPLCricketTeam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
